* {
    margin: 0;
    box-sizing: border-box;
    color:rgb(36, 29, 78);
}

section {
    background-color: white;
    min-height: 80vh;
    margin-left: 4em;
    margin-right: 2em;
    padding: 2em;
    border-bottom: 1px solid #ddd; 
}

h1 {
    text-align: center;
    font-size: 4em;

}

h2 {
    color: red;
    font-size: 1.3em;
    font-weight: 600;
}


h3 {
    font-weight: 800;
}

.portada {
    min-height: 60vh;
    background: linear-gradient(rgb(250, 226, 226), rgb(255, 255, 255));
    margin: 0;
    padding: 0;
    padding-top: 20cqh;
}

.video {
    border: 1px solid rgb(36, 29, 78);
    border-radius: 30px;
    opacity: 0.8;
    transition: 0.3s;
}
.video:hover {
    opacity: 1;
    transition: 0.3s;
}

.indice {
    position: fixed;
    left: 15px;
    top: 15px;
}

.indice li {
    list-style: none;
    margin-left: -0.5em;
    color: rgb(36, 29, 78);
    font-size: 1.5em;
    font-weight: 700;
}

.indice li a {
    text-decoration: none;
    color:rgb(36, 29, 78);
    opacity: 0.5;
}
.indice li a:hover {
    opacity: 1;
    transform: scale(1.3);
}