:root {
  --violeta: #383655;
  --gris: #f2f2f2;
  --celeste: #90a9b4;
  --rosa: #da455b;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'sauna-new';
    scroll-behavior: smooth;
  }

/* AVISO ROTACION PANTALLA */

  #aviso-giro {
    height: 100vh;
  }

  @media screen and (orientation: landscape) {
   #aviso-giro {
      display: none;
    }
  }
  
  @media screen and (orientation: portrait) {
    main {
      display: none;
    }
  }

  .m2 {
    margin: 2em;
  }
  
  .p2 {
    padding: 2em;
  }
  

/* MENU */

.menu {
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 20px;
  border: 0px;
  transition: 0.3s;
  color: white;
}

.menu:hover {
  background-color: var(--violeta);
}

/* estilos del menu lateral de indice */

.sidenav {
  height: 100%; 
  width: 0; /* 0 width - cambiar el ancho abierto en scripts.js */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--gris);
  overflow-x: hidden;
  padding-top: 40px;
  transition: 0.5s;
}

.sidenav a {
  padding: 2px 2px 2px 20px;
  text-decoration: none;
  font-size: 1em;
  color: var(--violeta);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--rosa);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* estilo del contenido general de la pagina */
#main {
  transition: margin-left .5s;
  padding: 0px;
}

/* para dispositivos donde la altura es menor a 450px */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

/* INTRO */

.btn-comenzar {
  background-color: var(--rosa);
  color: var(--gris);
  border: 0px solid;
  border-radius: 15px;
  padding: 0.4em 3em;
  text-align: center;
  text-decoration: none;
  align-self: center;
  transition: 0.2s;
}


.btn-comenzar:hover {
  background-color: var(--celeste);
  color: var(--violeta);
}


/* PORTADA VIDEO */


  /* VIDEO CONTAINER */

  .video-container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

  .video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  .video-container .caption {
    height: 100dvh;
    width: 100vw;
    line-height: 2em;
    z-index: 1;
    color: #ede8e8;
    background: #301647c9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .video-container .caja-texto {
    z-index: 1;
    text-align: center;
  }

/* REGLAS GENERALES */


html {
  font-size: 1.3em;
}



h1 {
  font-family: 'sauna-new';
  font-weight: 900;
  font-size: 3em;
}

p {
  font-size: 1.2em;
}



.gris {
  background-color: var(--gris);
}
.violeta {
  background-color: var(--violeta);
  color: white;
}

.vh100 {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 600px;
  min-width: 50vw;
  padding: 0;
  margin: 0 auto;
}


/* SECCIONES */

.s-conteo {
  background-image: url("https://www.wvnstv.com/wp-content/uploads/sites/76/2023/02/image0-1.gif");
  background-size: cover;

}

/* SVG */

svg path {
  transform: scale(1);
  opacity: 0.5;
  transition: 0.5s;

}

svg path:hover {
  opacity: 1;
  transform:scale(1.1);
  transition: 1s;
}


/* REPRODUCTOR */

vm-player {
  --vm-player-theme: #301647;
  --vm-control-scale: 2.75;
}

.hover:hover {
 transform: scale(1.2);
}











  /*RESALTADOS*/

.highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #ffffaf00 1%,
      #ffffaf 2.5%,
      #ffffaf80 5.7%,
      #ffffaf1a 93%,
      #ffffafb4 95%,
      #ffffaf00 98%
    ),
    linear-gradient(182deg, #ffffaf50, #ffffaf4d 8%, #ffffaf50 15%);
}

.green-highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #b8ffaf00 1%,
      #b8ffaf 2.5%,
      #b8ffaf80 5.7%,
      #b8ffaf1a 93%,
      #b8ffafb4 95%,
      #b8ffaf00 98%
    ),
    linear-gradient(182deg, #b8ffaf00, #b8ffaf4d 8%, #b8ffaf00 15%);
}

.pink-highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #ffafd400 1%,
      #ffafd4 2.5%,
      #ffafd480 5.7%,
      #ffafd41a 93%,
      #ffafd4b4 95%,
      #ffafd400 98%
    ),
    linear-gradient(182deg, #ffafd400, #ffafd44d 8%, #ffafd400 15%);
}

.blue-highlight {
  display: inline-block;
  background: linear-gradient(
      100deg,
      #afd7ff00 1%,
      #afd7ff 2.5%,
      #afd7ff80 5.7%,
      #afd7ff1a 93%,
      #afd7ffb4 95%,
      #afd7ff00 98%
    ),
    linear-gradient(182deg, #afd7ff00, #afd7ff4d 8%, #afd7ff00 15%);
}